.so-widget-sow-image-default-830f182db3ca .sow-image-container {
  text-align: center;
}
.so-widget-sow-image-default-830f182db3ca .sow-image-container .so-widget-image {
  display: inline-block;
  
  width: 100%;
  
}